.ImgBox{
    /* height: 150px;
    width: 150px;
    background-color: #c6a6fa;
    border-radius: 10px; */
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}
.logoImg{
    width: 60%;
}
.MainHeading {
    background-image: url('../../Assets/TopBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.MainHeading h1{
    font-weight: bold;
    font-size: 40px;

}
.MainHeading p{
    font-size: 18px;
    color: #bfbfbf;
}
